*{
  margin: 0;
  padding: 0;

}

body {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navbar{
  width: 1200px;
  height: 75px;
  margin: left;

}
.icon{
  width: 200px;
  float: left;
  height: 70px;
  
}
.logo{
  color: #abdbe3;
  font-size: 50px;
  font-family: Arial;
  padding-left: 75px;
  float: left;
  padding-top: 1px;
  
}
.menu{
  width: 400px;
  float: left;
  height: 70px;
  margin-left: 75px;


}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

}
ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;

}
ul li a{
  text-decoration: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.04 ease-in-out;

}
ul li a:hover{
  color: #21130d;
}

.content{
  width: 1200px;
  height: auto;
  margin-top: 10px;
  color: #ffffff;
  position: left;
}
.content .par{
  padding-left: 150px;
  padding-bottom: 20px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 21px;
  
}
.content h1{
  font-family: 'Times New Roman';
  font-size: 55px;
  padding-left: 150px;
  margin-top: 15%;
  letter-spacing: 1px;
}   
.content .cn{
  width: 160px;
  height: 50px;
  background: #abdbe3;
  border: none;
  margin-bottom: 20px;
  margin-left: 150px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3 ease;
}

.cn:hover{
  background-color: #ffffff;
}
.content span{
  color: #abdbe3;

}
.form{
  width: 300px;
  height:450px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  position: absolute;
  top: 225px;
  left: 1320px;
  border-radius: 15px;
  padding: 30px;
}
.form h2{
  width: 280px;
  font-family: sans-serif;
  text-align: center;
  color: #000;
  font-size: 22px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 3px;
  padding: 9px;
}
.form input{
  width: 300px;
  height: 40px;
  background: transparent;
  border-bottom: 1px solid #abdbe3;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;

}
.forn input :focus{
  outline: none;
  
}
::placeholder{
  color: #ffffff;
  font-family: Arial;
}
.btnn{
  width: 300px;
  height: 45px;
  background: #abdbe3;
  border: none;
  margin-top: 30px;
  font-size: 75;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.4s ease;
}
.btnn:hover{
  background: #ffffff;
  color: #abdbe3;
}
.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link{
  font-family: Arial, Helvitica, sans-serif;
  font-size: 20px;
  padding-top: 20px;  
  text-align: center;
}
.liw{
  padding-top: 15px;
  padding-bottom: 9px;
  text-align: center;
  font-size: 20px;
}
.icons a{
  text-decoration: none;
  color: #fff;
}
.icons ion-icon{
  color: #fff;
  font-size: 30px;
  padding-left: 22px;
  padding-top: 5px;
  transition: 0.3s ease;
}
.icons ion-icon:hover{
  color: #abdbe3;
}
